<html>
    <head>
        <link rel="stylesheet" href="/public/css/styling.css">
    </head>
    <body>
        <div class="headings">
        <p class="heading">RiseFit AI</p>
        <p class="tagline">workouts that work for everyone.</p>
    </div>
    <div class="excersises">
        <div class="row">
            <div class="column">
              <div class="card">
                  <a href="/public/templates/pushups.html"><img src="https://cdn-icons.flaticon.com/png/512/1845/premium/1845841.png?token=exp=1645027427~hmac=011e8732c0fd95682e254776ff12e7ac" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <a href="/public/templates/crunches.html"><img src="https://cdn-icons-png.flaticon.com/512/3048/3048341.png" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                  <a href="/public/templates/squats.html"><img src="https://cdn-icons-png.flaticon.com/512/3043/3043218.png" class="iconimg" alt=""></a>
              </div>
            </div>
            <div class="column">
              <div class="card">
                  <a href="/public/templates/bicepCurl.html"><img src="https://cdn-icons.flaticon.com/png/512/1845/premium/1845861.png?token=exp=1645027505~hmac=618d1ab80f10af97588ffc75286a7cc9" class="iconimg" alt=""></a></div>
                </div>
              </div>
            </div>
    </body>
</html>